<!DOCTYPE html>
<html lang="en">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
  <nav class="navbar navbar-inverse bg-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Inventory of Snack and Drink</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/inventory">Home</a></li>
                <li class="active"><a href="#">Add Snack/Drink</a></li>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
<div class="container">
  <form action="/inventory/addsomething" method="post">
  {% csrf_token %}
  <div class="form-group">
    <div class="row">
     <div class="col-sm">
      <label for="Name">Name</label>
      <input type="text" name="Name" id="Name" class="form-control" required/>
    </div>
   </div>
  </div>
   <div class="form-group">
     <div class="row">
      <div class="col-sm">
        <label for="ingredients">Ingredients</label>
         <input type="text" name="Ingredients"  class="form-control" id="Ingredients" />
       </div>
      </div>
   </div>

  <div class="form-group">
    <div class="row">
     <div class="col-sm">
      <label for="selecttype">Add Drink or Snacks</label>
        <select  class="form-control" name ="selecttype" id="selecttype" required >
          <option disabled selected value> -- select an option -- </option>
          <option value="drink">Drink</option>
          <option value="snacks">Snacks</option>
        </select>
       </div>
       </div>
    </div>
  <div class="form-group">
    <div class="row">
     <div class="col-sm">
       <label for="selectrecommand">recommended snacks/drink with this Item</label>
       <p>use control + your mouse to select multiple choice</p>
       <select  class="form-control" name ="selectrecommand" id="selectrecommand" multiple>
      </select>
     </div>
    </div>
   </div>

   <div class="row">
    <div class="col-sm">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
   </div>
  </form>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

       <script>
       //trim the input
       $(function(){
             $('input[type="text"]').change(function(){
                this.value = $.trim(this.value);
              });
           });
           //present the selection of the recommend drink or snack
           $(document).ready(function(){
                $('select#selecttype').change(function () {
                    var optionSelected = $(this).find("option:selected");
                    var valueSelected  = optionSelected.val();
                    var selecttype   = optionSelected.text();
                      //  console.log(type)

                    data = {'selecttype' : selecttype

                  };
                  /*  $.ajax('/inventory/getdetails',data,function(result){

                           console.log(result);
                           $("#selectrecommand option").remove();
                           for (var i = result.length - 1; i >= 0; i--) {
                               $("#selectrecommand").append('<option>'+ result[i].name +'</option>');
                           };


                        });*/
            $.ajax({
              type: "POST",
              url: '/inventory/getdetails',
              data: data,
              success: function(result){

                       console.log(result);
                       $("#selectrecommand option").remove();
                       for (var i = result.length - 1; i >= 0; i--) {
                           $("#selectrecommand").append('<option>'+ result[i].name +'</option>');
                       };


                    },

          });


                });
           });
       </script>
</html>
